! special
*.foreground:   #f1f3f4
*.background:   #161616
*.cursorColor:  #f1f3f4

! black
*.color0:       #202124
*.color8:       #5f6368

! red
*.color1:       #d93025
*.color9:       #ea4335

! green
*.color2:       #65a643
*.color10:      #76d145

! yellow
*.color3:       #fbbc04
*.color11:      #fcc934

! blue
*.color4:       #3b6dc0
*.color12:      #74aaff

! magenta
*.color5:       #af4ac4
*.color13:      #cf79e0

! cyan
*.color6:       #0cbbbb
*.color14:      #6bdada

! white
*.color7:       #bdc1c6
*.color15:      #f1f3f4

URxvt.font: xft:dejavusansmono nerd font mono:size=12:antialias=true:style=book,xft:symbola:size=12:antialias=true
URxvt.boldFont: xft:dejavusansmono nerd font mono:size=12:antialias=true:style=bold,xft:symbola:size=12:antialias=true
URxvt.italicFont: xft:dejavusansmono nerd font mono:size=12:antialias=true:style=oblique,xft:symbola:size=12:antialias=true
URxvt.boldItalicFont: xft:dejavusansmono nerd font mono:size=12:antialias=true:style=bold oblique,xft:symbola:size=12:antialias=true
!URxvt.letterSpace: -1
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.borderLess: false
URxvt.externalBorder: 0
URxvt.internalBorder: 4
URxvt.scrollBar: false
URxvt.saveLines: 5000

URxvt.perl-ext-common: default,tabbedex

URxvt.keysym.Control-Shift-N: perl:tabbedex:new_tab
URxvt.keysym.Control-Shift-K: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-J: perl:tabbedex:prev_tab

URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right

URxvt.keysym.Control-Shift-C: eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V: eval:paste_clipboard

URxvt.tabbedex.tabbar-fg: 15
URxvt.tabbedex.tabbar-bg: 236
URxvt.tabbedex.tab-fg: 110
URxvt.tabbedex.tab-bg: 236

URxvt.tabbedex.transparent: true
URxvt.tabbedex.new-button: false

URxvt.iso14755: false
URxvt.iso14755_52: false
